* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  background-image: url("/src/assets/images/1didsyn0nc9d1.png");
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-items: center;
  font-family: "Orbitron", sans-serif;
  font-size: 1.5rem;
}

.orientation {
  background-color: rgb(147, 147, 204);
}

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  place-items: center;
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.764);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.bot,
.player {
  font-size: 1.5rem;
  width: 150px;
  height: 80px;
  border-radius: 24px;
  border: none;
  cursor: pointer;
}

.bot {
  margin-left: 50%;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-color: rgba(255, 81, 0);
  box-shadow: 0 0 20px rgba(255, 81, 0, 0.8);
}

.player {
  margin-right: 50%;
  grid-template-columns: 2 / 3;
  grid-row: 1 / 2;
  background-color: rgb(0, 183, 255);
  box-shadow: 0 0 20px rgba(0, 183, 255, 0.8);
}

.player-form {
  display: flex;
  visibility: hidden;
  opacity: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  height: 60vh;
  width: 60vw;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  font-size: 2rem;
  color: rgb(255, 255, 255);
}

.player-form h3 {
  position: relative;
  bottom: 20%;
}

.player-form button {
  transform: translateY(40px);
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  height: 50px;
  width: 100px;
  position: relative;
  top: 30px;
  font-size: 0.9rem;
  font-weight: 600;
  color: rgb(90, 90, 90);
  font-family: "Orbitron", sans-serif;
}

input {
  border: none;
  border-radius: 8px;
  width: 90%;
  height: 50px;
  font-size: 1.7rem;
  padding-left: 1%;
}

fieldset {
  display: flex;
  gap: 20px;
  border: none;
}

legend {
  position: relative;
  bottom: 20px;
  text-align: center;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10%;
  padding-left: 20%;
  gap: 20px;
  grid-column: 1 / 2;
  height: 100%;
}

.sidebar h1 {
  font-size: 3rem;
  color: rgb(255, 255, 255);
}

.restart {
  cursor: pointer;
}

.start {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Orbitron", sans-serif;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  transition: all 0.2s ease-out;
}

.start:hover {
  background-color: rgb(0, 204, 255);
  transform: scale(1.1);
}

.dashboard {
  transform: translateY(300%);
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  color: rgb(255, 255, 255);
}

.game-board {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 1fr 10fr;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
}

.grid-one {
  /* position: absolute; */
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  /* top: 25%;
  right: 50%; */
  z-index: 1;
}

.grid-two {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  z-index: 0;
}

.grid-one,
.grid-two {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  height: 300px;
  width: 300px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 1);
  background: rgba(0, 0, 0, 0.344);
  backdrop-filter: blur(10px);

  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
}
.showing {
  opacity: 1;
  visibility: visible;
}

.cell {
  cursor: pointer;
  border: 1px solid rgb(0, 0, 0);
  transition: all 0.3s ease-out;
}

.cell:hover,
.opponent-cell:hover {
  transform: scale(103%);
  background-color: rgba(255, 255, 255, 0.66);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

.my-ships {
  grid-column: 3 / 4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50%;
  width: 200px;
  background-color: rgba(55, 55, 55, 0.442);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.ship:hover {
  background-color: rgb(247, 247, 247);
  cursor: pointer;
}

.ship:focus {
  background-color: #900;
}
#battleship {
  border: 3px solid rgb(0, 0, 0);
  height: 50px;
  width: 180px;
}

#cruiser-one {
  border: 3px solid rgb(0, 0, 0);
  height: 50px;
  width: 140px;
}

#cruiser-two {
  border: 3px solid rgb(0, 0, 0);
  height: 50px;
  width: 140px;
}

#destroyer {
  border: 3px solid rgb(0, 0, 0);
  height: 50px;
  width: 110px;
}

#boat {
  border: 3px solid rgb(0, 0, 0);
  height: 50px;
  width: 80px;
}

.miss {
  background-color: rgb(255, 0, 0);
}

.hit {
  background-color: black;
}

.ship-cell {
  background-color: blueviolet;
}

.error {
  transform: translateX(2%) translateY(2%);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 35%;
  padding: 0;
  font-size: 1rem;
  color: white;
  background-color: #900;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 1px;
}
